# Ignorar pasta .vscode inteira (configurações locais do VS Code)
.vscode/

# Ignorar builds e logs do ROS2
build/
install/
log/

# Ignorar caches Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Outros temporários
*.swp
*.tmp
*.bak
